<h1>Add a todo items:</h1>
<form id="insertForm">
    <input type="text" name="name" placeholder="pushups" id="insertName" required="required">
    <input type="number" name="reps" placeholder="8" id="insertReps" required="required">
    <input type="number" name="weight" placeholder="10" id="insertWeight" required="required">
    <input type="radio" name="unit" id="lbs" value="0" required="required">
    <label for="lbs">lbs</label>
    <input type="radio" name="unit" id="kgs" value="1" required="required">
    <label for="kgs">kgs</label>
    <input type="date" name="date" placeholder="yyyy-mm-dd" id="insertDate" required="required">
    <input type="submit" value="Submit" id="insertRowButton">
</form>

<table>
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
        <th>Summary</th>
    </tr>
    <tr>
        <td>
            <a href="/new_daily_entry">Monday 1</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>