    <p>
        <span id="outputName">{{image_url}} </span><br>
        <span id="outputAge">Your Age: </span><br>
        <span id="outputPhrase">Your Catchphrase: </span>

        <img src={{image_url}}>
    </p>