<h1>New Daily Entry Page</h1>

<form action="">
    <fieldset>
        <legend>New Food Entry</legend>
        <label for="date">Date:</label>
        <input type="date" name="date">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="calories">Calories (kcal):</label>
        <input type="number" name="calories">
        <label for="carbs">Carbs (g):</label>
        <input type="number" name="carbs">
        <label for="protein">Protein (g):</label>
        <input type="number" name="protein">
        <label for="fats">Fats (g):</label>
        <input type="number" name="fats">
        <label for="fiber">Fiber (g):</label>
        <input type="number" name="fiber">
        <input type="submit"> <!-- TODO: Add action to override and direct the submit button -->
    </fieldset>
</form>