th {
    background: #c6e0f4;
    border: 1px solid #4791c5;
    color: black;
    line-height: 1.5em;
    padding-left: 0.5em;
    text-align: center;
    width: 12.5%;
    font-size: 12px;
    font-weight: bold;
}

td {
    background-color: #F0F8FF;
    border: 1px solid #A8D0EE;
    height: 5.5em;
    vertical-align: top;
    width: 12.5%;
}

input {
    display: run-in;
}